
<nav class="navbar navbar-expand-md navbar-light fixed-top">
  <a href="#"><img class="logo_PADME" src="../../assets/logo_PADME.jpg" title="Acceuil"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li>
        <a class="pr-3" href="#"><img class="icon" src="../../assets/mail_2.png" title="La messagerie n'est pas encore disponible"></a>
      </li>
      <li>
        <a class="pr-4" href="#"><img class="icon" src="../../assets/list_2.png" title="Liste des taches"></a>
      </li>
    </ul>

    <div class="user">
      <div class="user_info">
        <p class="user_name">NOM Prenom</p>
        <p class="user_type">Docteur</p>
      </div>

      <a href="#"><img class="user_icon" src="../../assets/cancel.png" title="Déconnexion"></a>
      <a href="#"><img class="user_icon" src="../../assets/user_icon.png" title="Page utilisateur"></a>
    </div>

  </div>
</nav>
