<nav class="navbar navbar-light navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle buttonCollapse" data-toggle="collapse" data-target="#navBarStatic">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="javascript:void(0)" (click)="openModal(templatePadme)" class="navbar-brand"><img class="logo_PADME"
                                                                                                src="../../assets/img/logo/logo_PADME.jpg"
                                                                                                title="{{ 'Home' | translate:user }}"></a>
      <a href="https://www.aphp.fr/" class="navbar-brand" style="margin-left: 10px;"><img class="logo_AP-HP" src="../../assets/img/logo/Logo_AP-Hôpitaux_de_Paris.gif"
                                                                                                title="AP-HP"></a>

      <div class="visible-xs">
        <a routerLink="login" (click)="loggout()"><img class="user_icon img-responsive"
                                                                          src="../../assets/img/icon/cancel.png"
                                                                          title="{{ 'LogOut' | translate:user }}"></a>
        <a href="javascript:void(0)" (click)="openModal(template)"><img
          class="user_icon img-responsive"
          src="../../assets/img/icon/user_icon.png"
          title="{{ 'UserPage' | translate:user }}"></a>

      </div>
    </div>
    <div class="collapse navbar-collapse" id="navBarStatic">
      <ul class="nav navbar-nav navbar-right hidden-xs">

        <li><a href="#"><img class="icon" src="../../assets/img/icon/mail_2.png"
                             title="{{ 'Messaging' | translate:user }}"></a></li>
        <li><a href="#"><img class="icon" src="../../assets/img/icon/list_2.png"
                             title="{{ 'TodoList' | translate:user }}"></a>
        </li>
        <li>
          <div class="user">
            <div class="user_info">
              <p class="user_name">{{firstName}} {{lastName}}</p>
              <p class="user_type">{{status | translate:user | uppercase  }}</p>
            </div>

            <a routerLink="login" (click)="loggout()"><img class="user_icon" src="../../assets/img/icon/cancel.png"
                                                           title="{{ 'LogOut' | translate:user }}"></a>
            <a href="javascript:void(0)" (click)="openModal(template)"><img class="user_icon"
                                                                            src="../../assets/img/icon/user_icon.png"
                                                                            title="{{ 'UserPage' | translate:user }}"></a>
          </div>
        </li>
      </ul>


      <ul class="nav navbar-nav navbar-right visible-xs">
        <li style="text-align: center"><a href="#">Messagerie</a></li>
        <li style="text-align: center"><a href="#">Liste des tâches</a></li>
      </ul>


    </div>
  </div>
</nav>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Vos informations</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form ngNativeValidate #formStaff="ngForm" (submit)="updateStaff(formStaff)">
    <div class="modal-body">
      <label for="lastName">Nom:</label>
      <input type="text" class="form-control" id="lastname" name="lastName" [(ngModel)]="lastName" required>
      <label for="firstName">Prenom:</label>
      <input type="text" class="form-control" id="firstname" name="firstName" [(ngModel)]="firstName" required>
      <label for="status">Intitulé du poste:</label>
      <input type="text" class="form-control" id="status" name="status" [(ngModel)]="status" readonly required>
      <label for="phone">Téléphone fixe:</label>
      <input type="tel" class="form-control" id="phone" name="phone" [(ngModel)]="phone" required>
      <label for="address">Adresse</label>
      <input type="text" class="form-control" id="address" name="address" [(ngModel)]="address" required>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" aria-label="Close" (click)="modalRef.hide()">Fermer</button>
      <button type="submit" class="btn btn-primary">Valider</button>
    </div>
  </form>
</ng-template>


<!--Modal Padme -->

<ng-template #templatePadme>
  <div class="modal-header">
    <h4 class="modal-title pull-left">L'équipe PADME</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Application créée et réalisée par l'équipe PADME de l'entreprise Kiwi :
    </p>
    <p>
      Entreprise de services et applications Web.
    </p>
    <p>
      Comment nous contacter ?
      <br>
      <strong>contact@kiwi.com</strong>
    </p>

  </div>
</ng-template>
