<div class="col-sm-11 col-md-11 main">
  <div class="row title">
    <div class="col-md-10">
      <h2 translate>MedicalInfo</h2>
    </div>
  </div>

  <div class="row myrow">
    <div class="col-md-5">

      <div *ngIf="informations.allergies">
        <h3 translate>Allergies</h3>
        <div *ngFor="let info of informations.allergies.attributes">
          <p>{{info}}</p>
        </div>
      </div>

      <div *ngIf="informations.handicap">
        <h3 translate>Handicap</h3>
        <div *ngFor="let info of informations.handicap.attributes">
          <p>{{info}}</p>
        </div>
      </div>

    </div>
  </div>
</div>
