<div class="col-md-11 col-sm-11">
  <h2>
    {{ type | translate:user }}
  </h2>

  <div class="row">
    <div class="col-md-offset-8 col-md-4">
      <input [(ngModel)]="filter" type="text" class="form-control" placeholder="Recherche">
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-hover" *ngIf="type == 'Consultation'">
      <thead>
      <tr>
        <th>{{ "Date" | translate:user }}</th>
        <th>{{ "Observation" | translate:user }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let consultation of listDoc.observations" (click)="onClicOnConsultation(consultation)">
        <td>{{consultation.date}}</td>
        <td>{{consultation.comment}}</td>
      </tr>
      </tbody>
    </table>

    <table class="table table-striped table-hover" *ngIf="type == 'Examen'">
      <thead>
      <tr>
        <th>{{ "Date" | translate:user }}</th>
        <th>{{ "ExamenMotif" | translate:user }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let examen of listDoc.exams" (click)="onClicOnExamen(examen)">
        <td>{{examen.date}}</td>
        <td>{{examen.motive}}</td>
      </tr>
      </tbody>
    </table>

    <table class="table table-striped table-hover" *ngIf="type == 'Prescription'">
      <thead>
      <tr>
        <th>{{ "PrescriptionDate" | translate:user }}</th>
        <th>{{ "Treatment" | translate:user }}</th>
        <th>{{ "StartDate" | translate:user }}</th>
        <th>{{ "EndDate" | translate:user }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let prescription of listDoc.prescriptions" (click)="onClicOnPrescription(prescription)">
        <td>{{prescription.prescriptionDate | date:"MM/dd/yyyy 'at' h:mma"}}</td>
        <td>{{prescription.treatment}}</td>
        <td>{{prescription.startDate | date:"MM/dd/yyyy 'at' h:mma"}}</td>
        <td>{{prescription.endDate | date:"MM/dd/yyyy 'at' h:mma"}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
