<div class="col-sm-3 col-md-2 col-xs-12 sidebar" id="sidebar" #sidebar [style.left.px]="user.marginLeft"
     [ngClass]="{'sidebarVisible': navVisible, 'sidebarHidden': !navVisible}">

  <a href="javascript:void(0)" class="displayNav" (click)="closeNav()" *ngIf="navVisible"><span class="glyphicon glyphicon-chevron-left"
                                                                             style="position: absolute; right:0"></span></a>

  <a *ngIf="!navVisible" href="javascript:void(0)" class="displayNav" (click)="openNav()"><span class="glyphicon glyphicon-chevron-right"
                                                                             style="position: absolute" [style.left.px]="-user.marginLeft"></span></a>
  <ul id="menu-accordeon">
    <li *ngIf="user.isAdmin()"><a routerLink="adminview">Liste du personnel</a></li>
    <li *ngIf="user.isDoctor() || user.isNurse()"><a routerLink="patientlist">Liste des patients</a></li>
    <li *ngIf="(user.isDoctor() || user.isNurse()) && user.getPatientIdSelected()!= null"><a routerLink="administrationfile">Fiche administrative patient</a>
    <li><a href="javascript:void(0)" (click)="consultationIsCollapsed = !consultationIsCollapsed">Consultation(4)</a>
      <ul [collapse]="consultationIsCollapsed">
        <li><a routerLink="consultationfile">lien sous menu 1</a></li>
        <li><a routerLink="consultationfile">lien sous menu 1</a></li>
        <li><a routerLink="consultationfile">lien sous menu 1</a></li>
        <li><a routerLink="consultationfile">lien sous menu 1</a></li>
      </ul>
    </li>
    <li><a href="javascript:void(0)" (click)="examenIsCollapsed = !examenIsCollapsed">Examen(3)</a>
      <ul [collapse]="examenIsCollapsed">
        <li><a routerLink="examenfile">Lien sous menu 2</a></li>
        <li><a routerLink="examenfile">Lien sous menu 2</a></li>
        <li><a routerLink="examenfile">Lien sous menu 2</a></li>
      </ul>
    </li>
    <li><a href="javascript:void(0)" (click)="prescriptionIsCollapsed = !prescriptionIsCollapsed">Prescription(4)</a>
      <ul [collapse]="prescriptionIsCollapsed">
        <li><a routerLink="prescriptionfile">lien sous menu 1</a></li>
        <li><a routerLink="prescriptionfile">lien sous menu 1</a></li>
        <li><a routerLink="prescriptionfile">lien sous menu 1</a></li>
        <li><a routerLink="prescriptionfile">lien sous menu 1</a></li>
      </ul>
    </li>
    <li *ngIf="user.isAdmin()"><a routerLink="adminview">Vue administrateur</a>
    <li><a href="javascript:void(0)" (click)="archiveIsCollapsed = !archiveIsCollapsed">Archive(1)</a>
      <ul [collapse]="archiveIsCollapsed">
        <li><a routerLink="prescriptionfile">Dossier n152352</a></li>
      </ul>
    </li>


    <li class="imgList first"><a href="javascript:void(0)" (click)="addIsCollapsed = !addIsCollapsed"><img
      src="../../assets/img/icon/add-all.svg">Ajout</a>
      <ul [collapse]="addIsCollapsed">
        <li><a routerLink="consultationfile">Consultation</a></li>
        <li><a routerLink="examenfile">Examen</a></li>
        <li><a routerLink="prescriptionfile">Prescription</a></li>
        <li><a routerLink="patientlist">Dossier médical</a></li>
      </ul>
    </li>
    <li class="imgList"><a href="javascript:void(0)" (click)="myDocIsCollapsed = !myDocIsCollapsed"><img
      src="../../assets/img/icon/doc1.png">Mes documents</a>
      <ul [collapse]="myDocIsCollapsed">
        <li><a routerLink="consultationfile">Consultation</a></li>
        <li><a routerLink="examenfile">Examen</a></li>
        <li><a routerLink="prescriptionfile">Prescription</a></li>
        <li><a routerLink="patientlist">Dossier médical</a></li>
      </ul>
    </li>
  </ul>

</div>








