<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar" routerLinkActive="active">
    <!--<li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
    <li><a href="#">Reports</a></li>
    <li><a href="#">Analytics</a></li>
    <li><a href="#">Export</a></li>
    -->
    <li class="nav-item"><a class="nav-link" routerLink="administrationfile">Fiche administrative</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="prescriptionfile">Préscription</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="examenfile">Examen</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="consultationfile">Consultation</a></li>
  </ul>

</div>

