/*
#0B243B
#337ab7
#FAFAFA
*/

#menu-accordeon {
  padding:0;
  margin:0;
  padding-top: 20px;
  list-style:none;
  text-align: center;
  font-size: 12px;
  box-shadow: 0px 2px 3px grey;
  background: white;
}

#menu-accordeon ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}


#menu-accordeon a {
  display:block;
  text-decoration: none;
  padding: 8px 0;
  font-size:1.2em;
  color: #0B243B;
  background-color: #FAFAFA;
}

#menu-accordeon a:hover{
  background-color: #0B243B;
  color: #FAFAFA;
}

#menu-accordeon ul li a{
  font-size:1em;
  color: #337ab7;
  background-color: #FAFAFA;
}

#menu-accordeon ul li a:hover{
  font-size:1em;
  color: #FAFAFA;
  background-color: #337ab7;
}

#menu-accordeon li:hover li {
  max-height: 15em;
}


.sidebar{
  position: fixed;
  padding: 0;
  z-index: 999;
}

.sidebarVisible{
  left:0;
  /*transition: 0.4s;*/
}

.sidebarHidden{
  /*transition: 0.4s;*/
}

@media screen and (min-width: 750px) {
  .sidebar{
    padding-right: 15px;
  }
}

.imgList{
  text-align: left;
}

.last{
  border-bottom: dotted grey 1px;
  margin-bottom: 30px;
}

img{
  max-height: 40px;
  padding: 3px 5px;
}

.displayNav{
  font-size: x-large;
}

.patient{
  font-size: 18px;
  background-color: #0B243B;
  color: #FAFAFA;
  border-radius: 10px;
  margin-bottom: 10px;
}
