.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #337ab7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color:white;
}

.info{
  font-size: 20px;
  margin-right: 10px;
  color: #337ab7;
}

label{
  font-weight: normal;
  margin-right: 10px;
}

