<div class="col-md-11 col-sm-11">
  <h2>
    Liste du personnel
  </h2>

  <div class="row">
    <div class="col-md-2 col-sm-3">
      <button class="btn btn-success btn-block btn-responsive">Ajouter personnel</button>
    </div>
    <div class="col-md-2 col-sm-3">
      <button class="btn btn-warning btn-block btn-responsive">Ajouter noeud</button>
    </div>
    <div class="col-md-offset-4 col-md-4 col-sm-6">
      <input [(ngModel)]="filter" type="text" class="form-control" placeholder="Recherche">
    </div>

  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>{{'LastName' | translate:user | uppercase}}</th>
        <th>{{'FirstName' | translate:user | uppercase}}</th>
        <th>{{'Function' | translate:user | uppercase}}</th>
        <th>{{'Hospital' | translate:user | uppercase}}</th>
        <th>{{'Pole' | translate:user | uppercase}}</th>
        <th>{{'Departement' | translate:user | uppercase}}</th>
        <th>{{'Unit' | translate:user | uppercase}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let staff of listStaff | search:'lastName,firstName':filter ; let i = index" [attr.data-index]="i">
        <td>{{staff.lastName | uppercase}}</td>
        <td>{{staff.firstName | uppercase}}</td>
        <td>{{staff.status}}</td>
        <td>
          <select class="form-control" [ngModel]="hospitalSeleted[i]" (ngModelChange)="hospitalChange($event,i)">
            <option *ngFor="let hospital of listHospital" [ngValue]="hospital" >
              {{hospital.name}}
            </option>
          </select>
        </td>

        <td>
          <select class="form-control" [(ngModel)]="poleSeleted[i]" (ngModelChange)="poleChange($event,i)">
            <option *ngFor="let pole of listPole[i]" [ngValue]="pole" >
              {{pole.speciality}}
            </option>
          </select>
        </td>

        <td>
          <select class="form-control" [(ngModel)]="serviceSeleted[i]" (ngModelChange)="serviceChange($event,i)">
            <option></option>
            <option *ngFor="let service of listService[i]" [ngValue]="service">
              {{service.speciality}}
            </option>
          </select>
        </td>

        <td><select class="form-control" [(ngModel)]="unitySeleted[i]">
          <option></option>
          <option *ngFor="let unity of listUnity[i]" [ngValue]="unity">
            {{unity.speciality}}
          </option>
        </select></td>
        <td>
          <button type="button" class="btn btn-primary" (click)="onSubmit(modalModif,i,staff)">Modifier</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<ng-template #modalModif>
  <div class="modal-body" style="text-align: center">
    {{'EndModification' | translate:user}}
  </div>
</ng-template>
