<div class="col-md-10 col-sm-9">
  <h2>
    Liste du personnel
  </h2>

  <div class="row">
    <div class="col-md-offset-8 col-md-4">
      <input [(ngModel)]="filter" type="text" class="form-control" placeholder="Recherche">
    </div>

  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>NOM</th>
        <th>PRENOM</th>
        <th>FONCTION</th>
        <th>HOPITAL</th>
        <th>PÔLE</th>
        <th>SERVICE</th>
        <th>UNITE</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let staff of listStaff | search:'lastName,firstName':filter ; let i = index" [attr.data-index]="i">
        <td>{{staff.lastName | uppercase}}</td>
        <td>{{staff.firstName | uppercase}}</td>
        <td>{{staff.status}}</td>
        <td>
          <select [ngModel] (ngModelChange)="onChangeHospital(i,$event)" name="hospital"
                  class="form-control">
            <option [ngValue]="hospital" *ngFor="let hospital of listHospital">{{hospital.name}}</option>
          </select>
        </td>
        <td>
          <select [ngModel] (ngModelChange)="onChangePole(i,$event)" name="pole"
                  class="form-control">
            <option [ngValue]="pole" *ngFor="let pole of listPole[i]">
              {{pole.speciality}}
            </option>
          </select>
        </td>
        <td>
          <select [ngModel] (ngModelChange)="onChangeService(i,$event)" name="service" class="form-control">
            <option [ngValue]="service" *ngFor="let service of listService[i]">
              {{service.speciality}}
            </option>
          </select>
        </td>

        <td><select class="form-control">
          <option *ngFor="let unity of listUnity[i]">
            {{unity.speciality}}
          </option>
        </select></td>
        <td>
          <button type="button" class="btn btn-primary">Modifier</button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>

</div>
