<div class="col-sm-offset-3 col-md-offset-2 col-md-10 col-sm-9">
  <h2>
    Liste du personnel
  </h2>

  <div class="row">
    <div class="col-md-2 col-sm-3"><button class="btn btn-success btn-block btn-responsive">Ajouter personnel</button></div>
    <div class="col-md-2 col-sm-3"><button class="btn btn-warning btn-block btn-responsive">Ajouter noeud</button></div>
    <div class="col-md-offset-4 col-md-4 col-sm-6">
      <input [(ngModel)]="filter" type="text" class="form-control" placeholder="Recherche">
    </div>

  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>NOM</th>
        <th>PRENOM</th>
        <th>FONCTION</th>
        <th>HOPITAL</th>
        <th>PÔLE</th>
        <th>SERVICE</th>
        <th>UNITE</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let staff of listStaff | search:'lastName,firstName':filter ; let i = index" [attr.data-index]="i">
        <td>{{staff.lastName | uppercase}}</td>
        <td>{{staff.firstName | uppercase}}</td>
        <td>{{staff.status}}</td>
        <td>
          <select class="form-control" [ngModel]="staff.hospital" (ngModelChange)="onChangeHospital($event,staff)">
            <option *ngFor="let hospital of listHospital" [ngValue]="hospital"
                    [selected]="selectedHospital(hospital,staff)"> {{hospital.name}}
            </option>
          </select>
        </td>

        <td>
          <select class="form-control" [ngModel]="staff.pole" (ngModelChange)="onChangePole($event,staff)">
            <option *ngFor="let pole of staff.hospital.hierarchy" [ngValue]="pole"
                    [selected]="selectedPole(pole,staff)">
              {{pole.speciality}}
            </option>
          </select>
        </td>

        <td>
          <select class="form-control" [ngModel]="staff.service" (ngModelChange)="onChangeService($event,staff)">
            <option *ngFor="let service of staff.pole.subNodes" [ngValue]="service">
              {{service.speciality}}
            </option>
          </select>
        </td>

        <td><select class="form-control" [ngModel]="staff.unity">
          <option *ngFor="let unity of staff.service.subNodes" [ngValue]="unity">
            {{unity.speciality}}
          </option>
        </select></td>
        <td>
          <button type="button" class="btn btn-primary" (click)="modificationStaff(modalModif)">Modifier</button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>

</div>


<ng-template #modalModif>
  <div class="modal-body" style="text-align: center">
    Modifications terminées
  </div>
</ng-template>
