
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="Partage assisté des dossiers médicaux Européens">
  <meta name="author" content="Ameline Moreau">


  <title>PADME</title>


</head>

<body>

<app-static-nav-bar></app-static-nav-bar>

<div class="container-fluid">
  <div class="row">
    <app-dynamic-nav-bar></app-dynamic-nav-bar>
  </div>
</div>

</body>
</html>
