
<app-login-page *ngIf="!user.isConnected();else connected"></app-login-page>

<ng-template #connected>
  <app-static-nav-bar></app-static-nav-bar>

  <div class="container-fluid">
    <div class="row">
      <app-dynamic-nav-bar></app-dynamic-nav-bar>
      <router-outlet></router-outlet>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <img (click)="switchLanguage('fr')" class="langage" src="../../assets/fr.svg">
      <img (click)="switchLanguage('en')" class="langage" src="../../assets/en.svg">
      KIWI 2018
    </div>
  </footer>
</ng-template>
