<div class="container">
  <div class="row">
    <div class="col-md-12 text-center" style="padding-bottom: 5px; margin-top:80px;">
      <img src="../assets/logo_PADME_login.png" alt="logo PADME" class="img-responsive" style="display: inline-block;">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 text-center">

      <h1>Connexion</h1>

      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)" ngNativeValidate style="padding-top: 15px">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input [(ngModel)]="login" type="text" name="login" class="form-control" id="login" required placeholder="Login">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input [(ngModel)]="password" name="password" type="password" class="form-control" id="password" required placeholder="Password">
          </div>
        </div>

        <div *ngIf="errorLogin != null" class="alert alert-danger">
          {{errorLogin}}
        </div>


        <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 20px">Connexion</button>
      </form>
    </div>
  </div>


  <div class="row" style="margin-top:50px">
    <div class="col-md-4 col-md-offset-4 text-center">
      &copy; 2018 KIWI
    </div>
  </div>
</div>
