
.myrow {
  padding: 10px;
}

h2 {
  color: #0B243B;
}

.title{
  border-bottom: 2px solid #0B243B;
  margin-right: 50px;
}

.myrow p{
  margin: 0;
  padding-left: 20px;
  color: #585858;
}

.myrow h3 {
  color: #337ab7;

}


.btn-modif{
  margin-top: 20px;
  background: #337ab7;
  color: white;
}

.btn-modif:hover{
  background: white;
  color: #337ab7;
  border: 1px solid #337ab7;
}



