
<div class="col-sm-9 col-md-10 main">
  <div class="row title">
    <div class="col-md-10">
    <h2>
      Fiche administrative
    </h2>
    </div>
    <div class="col-md-1 text-right">
      <button class="btn btn-modif">Modifier</button>
    </div>

  </div>

  <!--
    <div class="row myrow">
      <div class="col-md-5">
        <h3>Données personnelles</h3>
        <p><strong>Nom :</strong> Moreau </p>
        <p><strong>Prénom :</strong> Ameline </p>
        <p><strong>Sexe:</strong> F</p>
        <p><strong>Date de naissance :</strong> 12/06/1995</p>
        <p><strong>Lieux de naissance :</strong> Lagny</p>

        <h3>Coordonnées</h3>
        <p><strong>Adresse :</strong> 3 allées des camélias </p>
        <p><strong>Code postal :</strong> 77163</p>
        <p><strong>Ville :</strong> Noisy le grand</p>
        <p><strong>Complément d'adresse :</strong> Aucun</p>
        <p><strong>Mail :</strong> amelinemoreau@orange.fr</p>
        <p><strong>Telephone fixe :</strong> 01.64.66.11.94</p>
        <p><strong>Telephone portable :</strong> 06.64.66.11.94</p>
        <p><strong>Fax :</strong> Aucun</p>


      </div>
      <div class="col-md-5">
        <h3>Autre données</h3>
        <p><strong>Numero carte vital :</strong> 77153154316541 </p>
        <p><strong>Sécurité soscial :</strong> Aucune</p>
      </div>

      -->

  <form class="form-horizontal">
  <div class="row myrow">
    <div class="col-md-5">
      <h3>Données personnelles</h3>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label">Nom: </label>
        <div class="col-sm-8">
          <input type="email" class="form-control" id="inputEmail3" value="Moreau">
        </div>
      </div>

      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Prénom: </label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="inputEmail3" value="Ameline">
        </div>
      </div>

      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Sexe: </label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="inputEmail3" value="F">
        </div>
      </div>

      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Date de naissance: </label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="inputEmail3" value="12/06/1995">
        </div>
      </div>

      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Lieux de naissance: </label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="inputEmail3" value="Lagny">
        </div>
      </div>


      <h3>Coordonnées</h3>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Adresse: </label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="inputEmail3" value="3 allées des camélias">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Code postal: </label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="inputEmail3" value="77164">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Ville: </label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="inputEmail3" value="Noisy le grand">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Complément d'adresse: </label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="inputEmail3" value="Aucun">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Mail: </label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="inputEmail3" value="amelinemoreau@orange.fr">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Téléphone fixe: </label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="inputEmail3" value="01.64.66.11.94">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Téléphone portable: </label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="inputEmail3" value="06.64.66.11.94">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Fax: </label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="inputEmail3" value="Aucun">
        </div>
      </div>

    </div>
    <div class="col-md-5">
      <h3>Autre données</h3>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Numero carte vital: </label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="inputEmail3" value="77153154316541">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Sécurité soscial: </label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="inputEmail3" value="Aucun">
        </div>
      </div>

    </div>
  </div>

    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Valider</button>
    </div>
  </form>


  </div>
