<div class="col-sm-11 col-md-11 main">
  <div class="row title">
    <div class="col-md-10">
      <h2 translate>AdminFIle</h2>
    </div>
    <div class="col-md-1 text-right" *ngIf="user.isSecretary()">
      <button *ngIf="!manageFile.stateNew()" type="button" class="btn btn-modif" (click)="modifData()" translate>Edit</button>
    </div>

  </div>

  <div class="row myrow" *ngIf="manageFile.statePublish()">
    <div class="col-md-5">
      <h3 translate>PersonalData</h3>
      <p><strong>{{ 'LastName' | translate:user }}:</strong> {{directory.lastName}}</p>
      <p><strong>{{ 'FirstName' | translate:user }}:</strong> {{directory.firstName}}</p>
      <p><strong>{{ 'Sexe' | translate:user }}:</strong> {{directory.gender}}</p>
      <p><strong>{{ 'BirthDay' | translate:user }}:</strong> {{directory.birthDate}}</p>
      <p><strong>{{ 'BirthPlace' | translate:user }}:</strong> {{directory.birthPlace}}</p>

      <h3 translate>Coordoonee</h3>
      <p><strong>{{ 'Adress' | translate:user }}:</strong> {{directory.address}} </p>
      <p><strong>{{ 'PostalCode' | translate:user }}:</strong> {{directory.postalCode}}</p>
      <p><strong>{{ 'Country' | translate:user }}:</strong> {{directory.city}}</p>
      <p><strong>{{ 'AdressComplement' | translate:user }}:</strong> {{directory.addressComplement}}</p>
      <p><strong>{{ 'Mail' | translate:user }}:</strong> {{directory.email}}</p>
      <p><strong>{{ 'Phone' | translate:user }}:</strong> {{directory.phone}}</p>
      <p><strong>{{ 'CellPhone' | translate:user }}:</strong> {{directory.cellPhone}}</p>
      <p><strong>{{ 'Fax' | translate:user }}:</strong> {{directory.fax}}</p>


    </div>
    <div class="col-md-5">
      <div *ngIf="isEmploye">
        <h3 translate>ProfessionnalData</h3>
        <p><strong>{{ 'Profession' | translate:user }}:</strong> {{directory.profession}} </p>
      </div>

      <h3 translate>OtherData</h3>
      <p><strong>{{ 'SocialSecurity' | translate:user }}:</strong> {{directory.socialID}}</p>
    </div>
  </div>

  <div class="row myrow" *ngIf="manageFile.stateEdited() || manageFile.stateNew()">
    <form class="form-horizontal" #docForm="ngForm" (ngSubmit)="onSubmit(docForm.value)" ngNativeValidate>
      <div class="col-md-6">
        <h3 translate>PersonalData</h3>
        <div class="form-group">
          <label for="lastName" class="col-sm-3 control-label">{{ 'LastName' | translate:user }}:</label>
          <div class="col-sm-9">
            <input type="text" [(ngModel)]="directory.lastName" class="form-control" id="lastName" name="lastName" required>
          </div>

        </div>

        <div class="form-group">
          <label for="firstName" class="col-sm-3 control-label">{{ 'FirstName' | translate:user }}:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="directory.firstName" required>
          </div>
        </div>

        <div class="form-group">
          <label for="sexe" class="col-sm-3 control-label">{{ 'Sexe' | translate:user }}:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="sexe" name="gender" [(ngModel)]="directory.gender" required>
          </div>
        </div>

        <div class="form-group">
          <label for="birthDay" class="col-sm-3 control-label">{{ 'BirthDay' | translate:user }}:</label>
          <div class="col-sm-9">
            <input type="date" class="form-control" id="birthDay" name="birthDate"
                   value='{{directory.birthDate|date:"yyyy-MM-dd"}}' [(ngModel)]="directory.birthDate" required>
          </div>
        </div>

        <div class="form-group">
          <label for="placeBirth" class="col-sm-3 control-label">{{ 'BirthPlace' | translate:user }}:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="placeBirth" name="birthPlace"
                   [(ngModel)]="directory.birthPlace">
          </div>
        </div>

        <h3 translate>Coordoonee</h3>
        <div class="form-group">
          <label for="adress" class="col-sm-3 control-label">{{ 'Adress' | translate:user }}:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="adress" name="address" [(ngModel)]="directory.address">
          </div>
        </div>
        <div class="form-group">
          <label for="cp" class="col-sm-3 control-label">{{ 'PostalCode' | translate:user }}:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="cp" name="postalCode" [(ngModel)]="directory.postalCode">
          </div>
        </div>
        <div class="form-group">
          <label for="city" class="col-sm-3 control-label">{{ 'Country' | translate:user }}:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="city" name="city" [(ngModel)]="directory.city">
          </div>
        </div>
        <div class="form-group">
          <label for="adressMore" class="col-sm-3 control-label">{{ 'AdressComplement' | translate:user }}:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="adressMore" name="addressComplement"
                   [(ngModel)]="directory.addressComplement">
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-3 control-label">{{ 'Mail' | translate:user }}:</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="directory.email">
          </div>
        </div>
        <div class="form-group">
          <label for="tel" class="col-sm-3 control-label">{{ 'Phone' | translate:user }}:</label>
          <div class="col-sm-9">
            <input type="tel" class="form-control" id="tel" name="phone" [(ngModel)]="directory.phone">
          </div>
        </div>
        <div class="form-group">
          <label for="portable" class="col-sm-3 control-label">{{ 'CellPhone' | translate:user }}:</label>
          <div class="col-sm-9">
            <input type="tel" class="form-control" id="portable" name="cellPhone" [(ngModel)]="directory.cellPhone">
          </div>
        </div>
        <div class="form-group">
          <label for="fax" class="col-sm-3 control-label">{{ 'Fax' | translate:user }}:</label>
          <div class="col-sm-9">
            <input type="tel" class="form-control" id="fax" name="fax" [(ngModel)]="directory.fax">
          </div>
        </div>

      </div>
      <div class="col-md-6">

        <div *ngIf="isEmploye">
          <h3 translate>ProfessionnalData</h3>

          <div class="form-group">
            <label for="profession" class="col-sm-3 control-label">{{ 'Profession' | translate:user }}:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="profession" name="profession" [(ngModel)]="directory.profession">
            </div>
          </div>

        </div>

        <h3 translate>OtherData</h3>
        <div class="form-group">
          <label for="social" class="col-sm-3 control-label">{{ 'SocialSecurity' | translate:user }}:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="social" name="socialID" maxlength="15" [(ngModel)]="directory.socialID" required>
          </div>
        </div>
      </div>

      <div class="col-md-12" style="text-align: center" *ngIf="manageFile.stateNew()">
        <button type="submit" class="btn btn-validate" translate>Créer le document</button>
      </div>

      <div class="col-md-12" style="text-align: center" *ngIf="manageFile.stateEdited()">
        <button type="submit" class="btn btn-validate" translate>Validate</button>
        <button (click)="cancelModif()" class="btn btn-warning" translate>Cancel</button>
      </div>
    </form>
  </div>
</div>
