<div class="col-sm-11 col-md-11 main">
  <div class="row title">
    <div class="col-md-10">
      <h2 translate>Prescription</h2>
    </div>
    <div class="col-md-1 text-right" *ngIf="manageFile.stateConsulted()">
      <button type="button" class="btn btn-modif" (click)="modifData()" translate>Edit</button>
    </div>
    <div class="col-md-1 text-right" *ngIf="manageFile.stateConsulted()">
      <button type="button" class="btn btn-modif" (click)="manageFile.publishData()" translate>Publish</button>
    </div>
  </div>

  <div class="row myrow">
    <div class="col-md-7" *ngIf="manageFile.statePublish()">
      <p class="libele">Fait le {{manageFile.date}} à {{manageFile.hopital}}</p>
    </div>
    <div class="col-md-2 mycol">
      <h3 translate>Patient</h3>
      <p>{{patientLastName}}</p>
      <p>{{patientFirstName}}</p>
    </div>

    <div class="col-md-2 mycol">
      <h3>{{status | translate:user}}</h3>
      <p>{{lastName}}</p>
      <p>{{firstName}}</p>
    </div>
    <br>
    <br>
    <div class="col-md-10" *ngIf="manageFile.stateConsulted() || manageFile.statePublish()">
      <h3 translate>Prescription</h3>
      <p>{{directory.treatment}}</p>

      <h3 translate>TreatmentDuration</h3>
      <p>{{"StartDate" | translate:user}} : {{directory.startDate}}</p>
      <p>{{"EndDate" | translate:user}} : {{directory.endDate}}</p>

      <h3 translate>Posologie</h3>
      <p>{{directory.posologie}}</p>

      <h3 translate>Prise des posologies</h3>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>{{'Date' | translate:user | uppercase}}</th>
            <th>{{'Observation' | translate:user | uppercase}}</th>
            <th>INFIRMIER</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let posology of posologies | search:'date':filter">
            <td>{{posology.date}}</td>
            <td>{{posology.observation}}</td>
            <td>{{posology.infirmier}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-10" *ngIf="manageFile.stateEdited() || manageFile.stateNew()">
      <form class="form-horizontal" #prescriptionForm="ngForm" (ngSubmit)="onSubmit(prescriptionForm.value)" ngNativeValidate>
        <h3 translate>Prescription</h3>
        <textarea [(ngModel)]="treatment" id="treatment" name="treatment" rows="4" cols="50">
              {{directory.treatment}}
            </textarea>

        <h3 translate>StartDate</h3>
        <textarea [(ngModel)]="startDate" id="startDate" name="startDate" rows="4" cols="50">
              {{directory.startDate}}
            </textarea>

        <h3 translate>EndDate</h3>
        <textarea [(ngModel)]="endDate" id="endDate" name="endDate" rows="4" cols="50">
          {{directory.endDate}}
          </textarea>

        <h3 translate>Posologie</h3>
        <textarea [(ngModel)]="posologie" id="posologie" name="posologie" rows="4" cols="50">
            {{directory.posologie}}
          </textarea>

        <div class="col-md-12" style="text-align: center" *ngIf="manageFile.stateNew()">
          <button type="submit" class="btn btn-validate" translate>{{"Create" | translate:user }}</button>
        </div>

        <div class="col-md-12" style="text-align: center" *ngIf="manageFile.stateEdited()">
          <button type="submit" class="btn btn-validate" translate>{{"Validate" | translate:user }}</button>
          <button (click)="cancelModif()" class="btn btn-warning" translate>{{"Cancel" | translate:user }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
