<div class="col-sm-9 col-md-10 main">
  <div class="row title">
    <div class="col-md-10">
      <h2>
        Préscription
      </h2>
    </div>
    <div class="col-md-1 text-right">
      <button class="btn btn-modif">Modifier</button>
    </div>

  </div>

    <div class="row myrow">

      <div class="col-md-7">
        <p class="libele">Fait le 02/03/2017 à l'hopital de Paris</p>
      </div>

        <div class="col-md-2 mycol">
          <h3>Patient</h3>
          <p>Nom</p>
          <p>Prénom</p>
        </div>

      <div class="col-md-2 mycol">
        <h3>Médecin</h3>
        <p>Nom</p>
        <p>Prénom</p>
      </div>

      <br>
      <h3>Préscription</h3>
      <p>2 boites de doliprane</p>
      <p>spasfond</p>
    </div>
</div>
