<div class="col-sm-11 col-md-11 main">
  <div class="row title">
    <div class="col-md-10">
      <h2 translate>Prescription</h2>
    </div>
    <div class="col-md-1 text-right" *ngIf="manageFile.stateConsulted()">
      <button type="button" class="btn btn-modif" (click)="modifData()" translate>Edit</button>
    </div>
    <div class="col-md-1 text-right" *ngIf="manageFile.stateConsulted()">
      <button type="button" class="btn btn-modif" (click)="manageFile.publishData()" translate>Publish</button>
    </div>
  </div>

  <div class="row myrow">
    <div class="col-md-7" *ngIf="manageFile.statePublish()">
      <p class="libele">Fait le {{manageFile.date}} à {{manageFile.hopital}}</p>
    </div>
    <div class="col-md-2 mycol">
      <h3 translate>Patient</h3>
      <p>{{patientLastName}}</p>
      <p>{{patientFirstName}}</p>
    </div>

    <div class="col-md-2 mycol">
      <h3>{{status | translate:user  }}</h3>
      <p>{{lastName}}</p>
      <p>{{firstName}}</p>
    </div>
    <br>
    <br>
    <div class="col-md-10" *ngIf="manageFile.stateConsulted() || manageFile.statePublish()">
      <h3 translate>Prescription</h3>
      <p>{{prescription}}</p>
    </div>

    <div class="col-md-10" *ngIf="manageFile.stateEdited() || manageFile.stateNew()">
      <h3 translate>Prescription</h3>
      <form class="form-horizontal">
          <textarea rows="4" cols="50">
            {{prescription}}
          </textarea>

        <div class="col-md-12" style="text-align: center" *ngIf="manageFile.stateNew()">
          <button type="submit" class="btn btn-validate" translate>Créer le document</button>
        </div>

        <div class="col-md-12" style="text-align: center" *ngIf="manageFile.stateEdited()">
          <button type="submit" class="btn btn-validate" translate>Validate</button>
          <button (click)="cancelModif()" class="btn btn-warning" translate>Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
