<div class="col-sm-11 col-md-11 main">
  <div class="row title">
    <div class="col-md-10">
      <h2 translate>Consultation</h2>
    </div>
    <div class="col-md-1 text-right" *ngIf="manageFile.stateConsulted()">
      <button type="button" class="btn btn-modif" (click)="modifData()" translate>Edit</button>
    </div>
    <div class="col-md-1 text-right" *ngIf="manageFile.stateConsulted()">
      <button type="button" class="btn btn-modif" (click)="manageFile.publishData()" translate>Publish</button>
    </div>
  </div>

  <div class="row myrow">
    <div class="col-md-7" *ngIf="manageFile.statePublish()">
      <p class="libele">Fait le {{manageFile.date}} à {{manageFile.hopital}}</p>
    </div>

    <div class="col-md-2 mycol">
      <h3 translate>Patient</h3>
      <p>{{patientLastName}}</p>
      <p>{{patientFirstName}}</p>
    </div>

    <div class="col-md-2 mycol">
      <h3>{{userStatus | translate:user}}</h3>
      <p>{{userLastName}}</p>
      <p>{{userFirstName}}</p>
    </div>
    <br>

    <br>
    <div class="col-md-10" *ngIf="manageFile.stateConsulted() || manageFile.statePublish()">
      <h3 translate>ExamenMotif</h3>
      <p>{{directory.motif}}</p>

      <h3 translate>ExamenObservation</h3>
      <p>{{directory.observation}}</p>
    </div>

    <div class="col-md-10" *ngIf="manageFile.stateEdited() || manageFile.stateNew()">
      <h3 translate>ExamenMotif</h3>
      <form class="form-horizontal"  #consultationForm="ngForm" (ngSubmit)="onSubmit(consultationForm.value)">
          <textarea (ngModel)]="comment" rows="4" cols="50">
            {{directory.motif}}
          </textarea>

        <h3 translate>ExamenObservation</h3>
        <textarea rows="4" cols="50">
            {{directory.observation}}
          </textarea>

        <div class="col-md-12" style="text-align: center" *ngIf="manageFile.stateNew()">
          <button type="submit" class="btn btn-validate" translate>{{"Create" | translate:user}}</button>
        </div>

        <div class="col-md-12" style="text-align: center" *ngIf="manageFile.stateEdited()">
          <button type="submit" class="btn btn-validate" translate>{{"Validate" | translate:user}}</button>
          <button (click)="cancelModif()" class="btn btn-warning" translate>{{"Cancel" | translate:user}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
