<div class="col-sm-11 col-md-11 main">
  <div class="row title">
    <div class="col-md-10">
      <h2 translate>Consultation</h2>
    </div>

  </div>
  <div class="row myrow">
    <div class="col-md-7" *ngIf="manageFile.statePublish()">
      <p class="libele">{{'DoDate' | translate:user}} {{consultation.date | date:"short"}}</p>
    </div>

    <div class="col-md-2 mycol">
      <h3 translate>Patient</h3>
      <p>{{patient.lastName}}</p>
      <p>{{patient.firstName}}</p>
    </div>

    <div class="col-md-2 mycol" *ngIf="manageFile.statePublish()">
      <h3>{{userStatus | translate:user}}</h3>
      <p>{{doctor.lastName}}</p>
      <p>{{doctor.firstName}}</p>
    </div>
    <br>

    <h3 translate *ngIf="manageFile.statePublish()">ExamenObservation</h3>
    <p *ngIf="manageFile.statePublish()">{{consultation.comment}}</p>
  </div>

  <div class="col-md-10" *ngIf="manageFile.stateNew()">
  <form class="form-horizontal" #consultationForm="ngForm" (ngSubmit)="onSubmit(consultationForm.value)"
        ngNativeValidate>
    <h3 translate>ExamenObservation</h3>
    <textarea [(ngModel)]="comment" id="comment" name="comment" rows="4" cols="50"></textarea>

    <div class="col-md-12" style="text-align: center">
      <button type="submit" class="btn btn-validate" translate>{{"Create" | translate:user}}</button>
    </div>
  </form>
</div>


